<div class="container">    
  <div class="row list_products">
    <% if @products.any? %>
      <%= render @products %>
    <% else %>
      Không tìm thấy sản phẩm
    <% end %>
  </div>
</div><br><br>
