<% provide(:page_name, 'Chi tiết đơn hàng') %>
<% provide(:search_path, admin_orders_path) %>
<div class="row">
  <%= render "admin/shared/flash_message" %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <span>Danh sách sản phẩm</span>
    </div>
    <div class="panel-body">
      <div class="table-responsive">
        <% if @line_items.any? %>
          <table class="table">
            <thead>
              <tr>
                <th>#</th>
                <th width="10%">Hình ảnh</th>
                <th>Tên sản phẩm</th>
                <th>Tên danh mục</th>
                <th>Giá</th>
                <th>Ngày đấu giá</th>
              </tr>
            </thead>
            <tbody>
              <%= render  @line_items %>
            </tbody>
          </table>
        <%= will_paginate  @line_items %>
        <% else %>
          <p>Không tìm thấy sản phẩm</p>
        <% end %>
      </div>
    </div>
  </div>
</div>
