<% provide(:page_name, 'Thêm tài khoản') %>
<% provide(:search_path, admin_users_path) %>
<div class="row">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="col-lg-6">
        <%= render 'admin/users/form' %>
      </div>
    </div>
  </div>
</div>
