<tr>
  <td><%= image_tag line_item.product.pictures.first.image.url, alt: line_item.product.name, class: "img-responsive" %></td>
  <td><%= line_item.product.name %></td>
  <td><%= line_item.amount %></td>
  <td><%= link_to "Xóa", line_item_path(line_item.id), method: :delete, data: { confirm: "Xóa sản phẩm này khỏi giỏ hàng?" } %></td>
</tr>
